/* components/forms/FormCommonStyles.css */

/* Shared form styling for all registration forms */

.form-group input,
.form-group select {
  background-color: #fafafa;
  border: 1px solid #ddd;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

h3 {
  margin-bottom: 20px;
  color: #6c757d;
}


/* components/forms/RegistrationPage.css */

/* Add this CSS rule for the form container */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* This ensures there's space between form fields */
  }
  
  /* Adjust the button's margin to ensure it's placed correctly */
  .btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px; /* Add space above the button */
    align-self: center; /* Ensure it stays centered */
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  